/*Selector Universal*/

*{
   margin: 0;
   padding: 0;

}
/*Selector de Etiqueta*/

body{
   background-color:rgb(106, 52, 177);
   color:black;

}
/*Selector Id*/
#contenedor{
   width: 90%;
   height: 19%;
   background-color: rgb(160, 144, 182);
   margin: 10px;
   padding: 20px;
}
#encabezado{
   width: 85%;
  background-color: rgb(195, 184, 209);
   margin: 1em;
   border-radius: 5px;
   text-align: center;
}
#menu{
   height: 3%;
   background-color: rgb(195, 184, 209);
   margin: 1em;
   border-radius: 5px;
}
/*Selector de etiqueta*/
ul{
   text-align: center;
   padding: 10px;

}
li{
   display: inline;
   padding: 10px 30px;
   margin: 3em;
}
li a:hover{
   color: rgb(12, 10, 11);
   font-size: 20px;
   text-decoration: none;
   list-style: none;   
}
/*Selector de clase*/
.img{
   width: 30%;
   border-radius: 30px;
   justify-items: center;
}
.texto{
   text-align: justify;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
   padding: 5px 25px;
   color: rgb(0, 0, 0);
}
 /*card*/

 .card{
   
   box-shadow: 0 4px 8px 0 black;
   overflow: hidden;
   max-width: 300px;
   margin: auto;
   text-align: center;
   border: 2px solid;
   border-radius: 10px;
   height: 200px;
   width: 250px;
   justify-content: space-between;
 }
 
 
 .title{

   color: rgb(2, 2, 2);
   font-size: 10px;
 }
 button{
   border: none;
   outline: 0;
   display: inline-block;
   padding: 8px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
 }
 .anta-regular {
   font-family: "Anta", sans-serif;
   font-weight: 400;
   font-style: normal;
 } 
 .linea {
   width: 80%;
   height: 1px;
   background-color: #000; 
   margin: 20px auto;
}
html{
   scroll-behavior: smooth;
}


 
.Flex{
   display: flex;
   flex-direction:row;
   width: 90%;
   height: 30%;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
  }




  

 .menu{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 1000;
}
.logo{
   font-size: 30px;
   color: rgb(22, 21, 20);
   font-weight: 800;
   text-transform: uppercase;
}
.menu .navbar ul li{
   position: relative;
   float: left;
}
.menu .navbar ul li a{
   font-size: 18px;
   padding: 20px;
   color: rgb(22, 21, 21);
   display: block;
}
.menu .navbar ul li a:hover{
   color: rgb(127, 255, 180);
}#menu{
   display: none;
}.menu-icon{
   width: 25px;
}
.menu label{
   cursor: pointer;
   display: none;
}
@media (max-width:991px) {
   .menu{
       padding: 30px;
   }
   .menu label{
       display: initial;
   }
   .menu .navbar{
       position: absolute;
       top:100%;
       left: 0;
       right: 0;
       background-color: black;
       display: none;
   }
   .menu .navbar ul li{
       width: 100%;
   }
   #menu:checked~.navbar{
       display: initial;
   }
   
}