/*selector unirvesal*/

*{
    margin: 0;
    padding: 0;
}


/*selector de etiqueta*/

body{
    background-color: rgb(250, 215, 232);
    color: rgb(255, 255, 255);
}




#encabezado{
    width: 90%;
    background-color:rgb(41, 0, 39);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}