*{
    margin: 0;
    margin: 0;
}
body{

    background-color:rgb(162, 164, 243);
    color:white;
}
/*selector id*/
#contenedor{

    width: 900px;
    height: 5500px;
    background-color:palevioletred;
    margin: 10px;
    padding: 20px;
}

#encabezado{

    width: 90;
    background-color: plum;
    margin: 1em;
    border-radius: 5px;
    text-align: center;

}
#menu{
    height: 80px;
    background-color:pink;
    margin: 5em;
    border-radius: 5px;
}
/*selector de etiqueta para el menu*/

ul{

    text-align: center;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover{

    color:crimson;
    font-size: 20px;
    text-decoration: none;
    list-style: none;

}

/*selector de clase*/
.img{

    width: 50px;
    border-radius: 30px;
    justify-items: center;

}

.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #000;

}

.pie{
    height: 20px;
    background-color: aliceblue;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

}
.pie h4{
    padding: 4px;
    font-size: 30px;
    background-color:black;
}
/* selector universal */

*{
    margin: 0;
    padding: 0;
    }
    /* selector de etiqueta */
    body{
        background-color:rgb(162, 164, 243);
        color: rgb(250, 250, 250);
    }
    /* selector id*/
    #contenedor{
         width: 900px;
         height: 5500px;
         background-color:rgb(162, 164, 243);
         padding: 20px;
    
    }
#encabezado{
    width: 90%;
    background-color: rgb(123, 124, 192);
    margin: 3em;
    border-radius: 5px;
    text-align: center;
    font-family: cursive;
}
#menu{
    height: 100px;
    background-color:rgb(135, 136, 207);
    margin:  1em;
    border-radius: 10px;
}
