/* selector universal */

*{
    margin: 0;
    padding: 0;
    }
    /* selector de etiqueta */
body{
    background-color: rgb(90, 51, 153);
        color: rgb(250, 250, 250);
}
/* selector id*/
#contenedor{
    width: 900px;
    height: 10000px;
    background-color: rgb(132, 121, 150);
    margin: 10px;
    padding: 20px;

}
li a:hover{
    color: rgb(231, 229, 231);
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}
ul{
    text-align: center;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
img:hover{
    width: 50%;
}
.img{
    width: 50%;
    border-radius: 30px;
    justify-items: center;
}
.texto{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px 25px;
    color: rgb(194, 171, 171); 
}
#pie{
    height: 60px;
    background-color: rgb(182, 121, 164);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
#pie h4{
    padding: 15px;
    font-size: 30px;
    background-color: rgb(14, 8, 22);
}
#encabezado{
    width: 90%;
    background-color: rgb(245, 101, 5);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}
#menu{
   

    height: 35px;
    background-color: rgb(162, 152, 179);
    margin:  1em;
    border-radius: 5px;
    color: aliceblue;

}
/* moto */

.moto{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
}
.moto:hover{
    max-width: 310px;
}

.title{
    color: rgb(12, 7, 7);
    font-size: 18px;
}
button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

}
.kite-one-regular {
    font-family: "Kite One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

