*{
    margin: 0;
    border-radius: 0;
}
body{
    background-color: #f1ecea ;
    color: #f1ecea 
}

.contenedor {
  width: 1200px;
  background-color: #362f2f;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Agrega espacio alrededor del contenido */
}
header {
  background-color: #3a251c; 
  color: white; /* Texto en color blanco */
  padding: 20px; /* Agrega espacio alrededor del contenido */
}

.card{
    
  box-shadow: 0 4px 8px 0 rgb(165, 150, 150);
  overflow: hidden;
  max-width: 730px;
  margin: 10px;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  height: 700px;
  width: 3500%;
 flex-wrap: wrap;
 flex-grow: row;
 color: aliceblue;
 margin: 0 -30px; /* Valor negativo para juntar las cartas */
  justify-content:space-between;
  
}

.cardmenu{
  
  box-shadow: 0 4px 8px 0 black;
  overflow: hidden;
  max-width: 300px;
  margin: 10px;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  height: 700px;
  width: 3500%;
  justify-content: space-between;
  margin: 0 -10px; /* Valor negativo para juntar las cartas */
}

.Flex{
 
  display: flex;
  flex-direction:row;
  width: 90%;
  height: 30%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}


/*selector de clase*/

.img{

width: 50%;
border-radius: 30px;
justify-items: center;

}
.texto{

text-align: justify;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
padding: 5px 25px;
color: aliceblue;

}
.pie {

height: 50px;
background-color: #3a251c;
margin: 1.5em;
text-align: center;
padding: 5px;
}

.pie h4{
padding: 15px;
height: 50px;
font-size: 30px;

}

.menu ul {
background-color: #b46424;
list-style-type: none;
height: 60px;
margin: 0;
padding: 0;
text-align: center; /* Alinea los elementos del menú al centro */
}

.menu ul li {
display: inline-block; /* Hace que los elementos del menú estén en línea */
margin: 0 10px; /* Espaciado entre elementos del menú */
}

.menu ul li a {
color: #f5eded;
padding: 10px 20px;
}


