*{
    box-sizing: border-box;
}
 
*{box-sizing: border-box;}

.contenedorflex
{display: flex;
    width: 500px;
   flex-direction: row;
   flex-wrap: wrap;
   background-color: rgb(179, 149, 206);
   padding: 10px;
   border: 2px solid black;}


.contenedorflexj
{display: flex;
    width: 800px;
   flex-direction: row;
   justify-content: center;
   background-color: rgb(211, 148, 211);
   padding: 10px;
   border: 2px solid black;}


.contenedorflexc
{display: flex;
       width: 800px;
      flex-direction: row;
      justify-content: end;
      background-color: rgb(127, 179, 209);
      padding: 10px;
      border: 2px solid black;}  
      
      
.contenedorflexs
{display: flex;
     width: 800px;
    flex-direction: row;
     justify-content: space-around;
    background-color: rgb(206, 123, 123);
    padding: 10px;
    border: 2px solid black;}   
    
.contenedorflexb
{display: flex;
    width: 1000px;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(167, 201, 129);
    padding: 10px;
    border: 2px solid black;}
    
.contenedorflext
{display: flex;
    width: 1000px;
    width: 900px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(172, 182, 161);
    padding: 10px;
    border: 2px solid black;} 
    
    
.contenedorflexe
{display: flex;
    width: 800x;
    height: 900;
    align-items: flex-end;
    justify-content: space-around;
    background-color: rgb(204, 203, 160);
    padding: 10px;
    border: 2px solid black;} 
    
    
.contenedorflexch
{display: flex;
    width: 800px;
    height: 900px;
    align-items: stretch;
    justify-content: space-around;
    background-color: rgb(211, 141, 168);
    padding: 10px;
    border: 2px solid black;}

    
    .contenedorflexcenter1
{display: flex;
    width: 1000px;
    height: 200px;
    align-items: center;
    justify-content: center;

    background-color: rgb(211, 141, 168);
    padding: 10px;
    border: 2px solid black;}


    .contenedorflexend1
{display: flex;
    width: 800px;
    height: 500px;
    justify-content: center;
    align-items: flex-end;
    
    background-color: rgb(211, 141, 168);
    padding: 10px;
    border: 2px solid black;}
    
    
    

        
        
.item:hover{
    background-color: rgb(0, 0, 0);
} 
                
        

.item
{background-color: rgb(73, 133, 224);
    width: 100px;
    margin: 10px;
    border: 2px solid;
    text-align: center;
    line-height: 25px;
    font-size: 25px;}  

.flex{
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 600;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 2px solid;
    background-color: aquamarine;
    font-size: 25px;
    justify-content: center;
    padding: 10px;
}    
